@import '../../../assets/styles/reference.scss';

.select{
    display: grid;
    justify-items: start;
    grid-template-columns: auto auto;
    align-items: center;
    
    select {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        border-radius: 10px;
        
        option{
            background-color: $lighterPink;
            border-radius: 10px;
        }
    }
}