@import '../../../assets/styles/reference.scss';

.social {
    border-right: 2px solid $darkerPink;
    padding-right: 50px;

    @media (min-width: 992px) {

        font-size: 13px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    h4 {
        font-size: 17px;
        padding: 10px;

        @media (min-width: 992px) {
            font-size: 15px;
        }
    }

    .links {
        display: flex;
        flex-direction: row;
        width: 100px;
        padding: 5px;

        .item {
            list-style-type: none;
            padding: 5px;

            @media (min-width: 992px) {
                padding: 10px;
            }
        }
        a {
            text-decoration: none;
            color: $fontColor;
        }
        a:hover {
            background-color: $lighterPink;
            border: 2px solid $darkerPink;
            border-radius: 10px;
        }

    }
}