@import '../../assets/styles/reference.scss';

.about {
    background-color: $darkerSalmon;
    padding: 10px 50px;

    @media (min-width: 992px) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .artist {
        display: flex;
        flex-direction: column-reverse;

        @media (min-width: 992px) {
            flex-direction: row;
            justify-content: space-between;
        }

        .collumn {
            text-align: justify;
            padding: 0px;
            margin: 15px 0px;

            @media (min-width: 992px) {
                padding: 10px;
                margin: 0px;
                width: 50%;
            }
        }

        .artistPicture {
            height: auto;
            width: auto;
            margin: 10px 0px;
            border: 2px solid $darkerGreen;
            border-radius: 20px;
            box-shadow: 10px 10px 0px 0px $darkerGreen;

            @media (min-width: 992px) {
                height: 500px;
                margin: 0px;
            }
        }
    }

    span {
        display: flex;
        flex-direction: column;

        h3 {
            font-size: 20px;
            text-align: center;
            margin-bottom: 10px;
        }

        p {
            margin-bottom: 10px;
        }

        a {
            width: fit-content;
            align-self: end;
        }

        @media (min-width: 992px) {
            display: block;
        }

    }
    
    h2{ 
        font-size: 25px;
        padding: 10px 0px;

        @media (min-width: 992px) {
        padding: 20px 50px;
        margin-bottom: 50px;
        }
    }

    .chat {
        height: 120px;
        width: 200px;
    }
}