@import '../../assets/styles/reference.scss';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap');

* {
    margin: 0px;
    padding: 0px;
}
.commission{
    background-color: $lighterSalmon;
}
