//Color Pallete
$primaryColor: #ffcdbf;
$secondaryColor: #7c9fbe;
$thirdColor: #878f99;
$fontColor: #3b3b3b;
$fontColor_2: #eeebeb;


.sectionItem{
    margin: 30px;
    padding: 10px;
    p{
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 17px;
        text-align: center;
    }
}