@import '../../assets/styles/reference.scss';


.sectionItem{
    margin: 30px;
    padding: 10px;
    p{  
        color: $fontColorBordo;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 20px;
        text-align: center;

        @media (min-width: 992px) {
            font-size: 17px;
        }
    }
}