/*Color Pallete*/
//Green
$darkerGreen: #606d06;
$lighterGreen: #b2b54b;

//Blue
$darkerBlue: #3f8db1;
$lighterBlue: #8ec0d8;

//Pink
$darkerPink: #954e81;
$lighterPink: #fa909b;

//Salmon
$darkerSalmon: #efa885;
$lighterSalmon: #fbd2ad;

//Yellow
$darkerYellow: #f8d994;
$lighterYellow: #fae0b8;

//Mostard
$darkerMostard: #e7af51;
$lighterMostard: #ffc648;

//Bordô
$darkerBordo: #361207;
$lighterBordo: #4d0600;

//Gray
$darkerGray: #1c181c;
$mediumGray: #2b262b;
$lightherGray: #878f99;

//White
$darkerWhite: #fae2cd;
$lighterWhite: #fff4e3;

//Fonts
$fontColor: #3b3b3b;
$fontColorBordo: #361207;
$fontColor_2: #eeebeb;

