@import '../../assets/styles/reference.scss';

.work {
    background-color: $darkerSalmon;
    h2{ 
        font-size: 23px;
        padding: 20px 50px;

        @media (min-width: 992px) {
            font-size: 25px;
            margin-bottom: 50px;
        }
    }
    .sections{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        @media (min-width: 992px) {
            flex-direction: row;
        }
    }        
}