@import '../../assets/styles/reference.scss';

.section {
    background-color: $darkerSalmon;
    padding-left: 10px;
    padding-bottom: 20px;

    .item{
        display: flex;
        flex-direction: row;
    }
    h2{
        font-size: 30px;
        padding: 10px;
        margin: 10px;
        margin-top: 0px;
        width: fit-content;
        background:
        linear-gradient(to right, $lighterBordo 5px, transparent 5px) 0 0,
        linear-gradient(to right, $lighterBordo 5px, transparent 5px) 0 100%,
        linear-gradient(to left,  $lighterBordo 5px, transparent 5px) 100% 0,
        linear-gradient(to left,  $lighterBordo 5px, transparent 5px) 100% 100%,
        linear-gradient(to bottom, $lighterBordo 5px, transparent 5px) 0 0px,
        linear-gradient(to bottom, $lighterBordo 5px, transparent 5px) 100% 0,
        linear-gradient(to top,$lighterBordo 5px, transparent 5px) 0 100%,
        linear-gradient(to top, $lighterBordo 5px, transparent 5px) 100% 100%;
        background-repeat: no-repeat;
        background-size: 10px 10px;
    }
}